<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>File Import</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2>Select file for import</h2>
					<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
					<p th:text="${warning}" th:if="${warning ne null}" class="alert alert-warning"></p>
					<p th:text="${success}" th:if="${success ne null}" class="alert alert-success"></p>
					<p th:text="${danger}" th:if="${danger ne null}" class="alert alert-danger"></p>
					<form method="post" th:action="@{/upload}" enctype="multipart/form-data">
						<div class="form-group">
							<input type="file" name="file" class="form-control-file">
						</div>
						<button type="submit" class="btn btn-primary">Import</button>
					</form>
					<br/>
					<div th:if="${!#strings.isEmpty(unsavedRowsContent)}">
						<h3 class="text-danger">Rows that cannot be saved</h3>
						<div>
							<textarea class="form-control" rows="10" style="margin-top: 10px;" placeholder="" name="notes" th:inline="text" wrap="off" readonly>[[${unsavedRowsContent}]]</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>